body{
    font-family:'Josefin';
    font-size: 14px;
    font-weight: bolder;
    
    width: 100%;
}
header{
    width: 80%;
    display: block;
    z-index: 100;
    /* padding: 146px 0 ; */
    height: 324px; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
    
}
.logo{
    border-radius: 4px;
    width: 80px;
    height: 30px;
    background-color: #27DEBF;
    font-size: 24px;
    font-weight: bolder;
    margin-left: 10%;


}
.center{
    display: flex;
    align-items: center;
    
    justify-content:center;
}
header li{
    padding-right: 10px;
    display: inline-block;
    border-right: 2px solid white;
}
header li:last-child{
    border-right: 0;
    margin-left: 15px;
}



.container{
    margin: 20px auto;
    max-width: 1140px;
    width: 100%;
    display: block;   
}

.flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.flex-column{
    display: flex;
    flex-direction: column;
}

.first{
    position: relative;
    width: 100%;
    height: 700px;
}
.yellow-spot{
    position: absolute;
    right:0;
    top:-20%;
    z-index: -2;
    height: 100%
}
.yellow-spot img{
    height: 100%
    
}
.green-one{
    position: absolute;
    left:10%;
    top:100px;
    width:50%;
}
.green-one img{
    width:50%;
}
.green-two{
    position: absolute;
    left:40%;
    top:300px;
    width:50%;
}
.green-two img{
    width:50%;
}


.bubble-1{
    position: absolute;
    left:80%;
    top:5%;
}
.bubble-2{
    position: absolute;
    left:50%;
    top:50%;
}
.bubble-3{
    position: absolute;
    left:10%;
    top:15%;
}
.bubble-4{
    position: absolute;
    left:55%;
    top:20%;
}
.bubble-5{
    position: absolute;
    left:5%;
    top:40%;
}





.intro{
    margin-top: 100px;
    margin-left: 10%;
    position: absolute;
    top:10px
}
.green-girl{
    width: 25%;
    position:absolute;
    right: 10%;
    top: 10%;
}
.green-girl img{
    width: 100%;
  
}
h1{
    width: 60%;
    display: inline-block;
    font-size: 60px;
    margin-bottom: 10px;
}
.buttons{
    margin-top: 20px;
    width: 200px;
}
.button{
    padding: 5px;
    height: 30px;
    width: auto;
    background-color: #27DEBF;
    border-radius: 15px;
}
