@font-face {
    font-family: 'Josefin';
    src: url('JosefinSans-Thin.eot');
    src: url('JosefinSans-Thin.eot?#iefix') format('embedded-opentype'),
        url('JosefinSans-Thin.woff2') format('woff2'),
        url('JosefinSans-Thin.woff') format('woff'),
        url('JosefinSans-Thin.ttf') format('truetype'),
        url('JosefinSans-Thin.svg#JosefinSans-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

